.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.controls {
  margin: 20px 0;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  opacity: 0.7;
  text-transform: capitalize;
}

.active{
  opacity: 1;
}

.heading{
 color: tomato;
}

